<div class="container mt-3" *ngIf = "event"
     [ngSwitch]="isUserPresent(event)">

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ event.name }}</mat-card-title>
      <mat-card-subtitle>{{ event.fromDate | date:'fullDate':'':'fr' }} {{ event.fromDate | date:'shortTime':'':'fr' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div class="d-flex justify-content-center" *ngIf="event.done != null">
        <p class="align-self-center">{{event.localTeamName}}</p>
        <img class="img-fluid mr-3" src="{{event.localTeamImgUrl}}">
        <p class="align-self-center" *ngIf="event.done">{{event.localTeamScore}}</p>
        <p class="align-self-center" *ngIf="event.done">{{event.visitorTeamScore}}</p>
        <p class="align-self-center" *ngIf="!event.done">VS</p>

        <img class="img-fluid ml-3" src="{{event.visitorTeamImgUrl}}">
        <p class="align-self-center">{{event.visitorTeamName}}</p>
      </div>
    </mat-card-content>
    <mat-card-actions align="start">
      <button color="accent" mat-button (click)="showMessages(event._id)">MESSAGES</button>
      <button color="accent" mat-button *ngSwitchCase="presence.Absent" (click)="participate(event._id, true)">PLAY</button>
      <button color="accent" mat-button *ngSwitchCase="presence.Present" (click)="participate(event._id, false)">WITHDRAW</button>
      <button color="accent" mat-button *ngSwitchDefault (click)="participate(event._id, true)">PLAY</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>

  <mat-list>
    <h3 mat-subheader>Presents</h3>
    <mat-list-item *ngFor="let presentMember of event.presentMembers">
      <mat-icon mat-list-icon></mat-icon>
      <h4 mat-line>{{presentMember.firstName}} {{presentMember.lastName}}</h4>
      <p mat-line> {{presentMember.licenseNumber }} </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Waiting</h3>
    <mat-list-item *ngFor="let waitingMember of event.waitingMembers">
      <mat-icon mat-list-icon></mat-icon>
      <h4 mat-line>{{waitingMember.firstName}} {{waitingMember.lastName}}</h4>
      <p mat-line> {{waitingMember.licenseNumber}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Absents</h3>
    <mat-list-item *ngFor="let absentMember of event.absentMembers">
      <mat-icon mat-list-icon></mat-icon>
      <h4 mat-line>{{absentMember.firstName}} {{absentMember.lastName}}</h4>
    </mat-list-item>
  </mat-list>
</div>

