<div *ngIf="selectedTeam" class="container" xmlns="http://www.w3.org/1999/html">
  <mat-paginator [length]="totalElements"
                 [pageSize]="pageSize"
                 [pageIndex]="page"
                 [pageSizeOptions]="[10, 25, 50]"
                 (page)="onLoadEvents($event.pageIndex, $event.pageSize, allEvents)">
  </mat-paginator>
  <mat-checkbox [(ngModel)]="allEvents" (change)="onLoadEvents(page, pageSize, allEvents)">All</mat-checkbox>
  <div class="list-group">
    <div class="list-group-item flex-column align-items-start" *ngFor="let event of events"
         (click)="onShowDetails(event._id)"
         [class.cancelled-event]="event.cancelled">
      <div class="d-flex justify-content-between">
        <h5>{{event.name}}</h5>
        <span *ngIf="!event.cancelled">{{event.presentMembers.length}} participants</span>
        <span *ngIf="event.cancelled" i18n="@@cancelled" style="color: red;" >cancelled</span>
      </div>
      <div class="row">
        <mat-icon class="icon">watch_later</mat-icon> {{ event.fromDateTime | date:'fullDate' | uppercase }} {{ event.fromDateTime | date:'shortTime' }}
      </div>
      <div class="row">
        <mat-icon class="icon">place</mat-icon>{{ event.placeName }}
      </div>
      <div class="row d-flex align-items-center" *ngIf="event.done != null">
        <div class="col-4 text-center"><img class="img-fluid" src="{{event.localTeamImgUrl}}"></div>
        <div class="col-4 text-center">
          <p *ngIf="event.done">{{event.localTeamScore}}</p>
          <p *ngIf="event.done">{{event.visitorTeamScore}}</p>
          <p i18n="@@vs" *ngIf="!event.done">VS</p>
        </div>
        <div class="col-4 text-center"><img class="img-fluid" src="{{event.visitorTeamImgUrl}}"></div>
      </div>
      <div class="row" *ngIf="event.done != null">
        <div class="col-4 text-center"><p>{{event.localTeamName}}</p></div>
        <div class="col-4 text-center"></div>
        <div class="col-4 text-center"><p>{{event.visitorTeamName}}</p></div>
      </div>
    </div>
  </div>
</div>
