<div [formGroup]="form">
  <mat-form-field>
    <input matInput type="date" i18n-placeholder="@@start-date" placeholder="Start date"
           formControlName="fromDate" name="fromDate">
    <mat-error i18n="@@shared-startDateRequired" *ngIf="fromDateCtrl.hasError('required')">
      Start date is <strong>required</strong>
    </mat-error>
    <mat-error i18n="@@shared-dateLowerThanCurrentDate" *ngIf="fromDateCtrl.hasError('minDate')">
      Start date must be greater than current date
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="date" i18n-placeholder="@@end-date" placeholder="End date"
           formControlName="toDate" name="toDate">
    <mat-error i18n="@@shared-endDateRequired" *ngIf="toDateCtrl.hasError('required')">
      End date is <strong>required</strong>
    </mat-error>
    <mat-error i18n="@@shared-dateLowerThanStartDate" *ngIf="toDateCtrl.hasError('minDate')">
      End date must be greater than start date
    </mat-error>
  </mat-form-field>
</div>
