<div fxLayout="column">
  <h2 mat-dialog-title>{{ title }}</h2>
  <mat-dialog-content>
    <mat-radio-group
      fxLayout="column"
      fxLayoutAlign="start"
      [(ngModel)]="selectedElement"
      class="radio-group"
    >
      <mat-radio-button *ngFor="let element of elements" [value]="element">{{
        element.payload
      }}</mat-radio-button>
    </mat-radio-group>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button i18n="@@cancel" mat-button color="primary" [mat-dialog-close]="null">CANCEL</button>
    <button i18n="@@confirm" mat-button color="primary" [mat-dialog-close]="selectedElement">
      OK
    </button>
  </mat-dialog-actions>
</div>
