<form class="container" [formGroup]="form" (ngSubmit)="createPlace()">
  <mat-form-field>
    <input matInput type="text" i18n-placeholder="@@name" placeholder="Name" formControlName="nameControl">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput type="text" i18n-placeholder="@@address" placeholder="Address" formControlName="addressControl"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" i18n-placeholder="@@city" placeholder="City" formControlName="cityControl">
  </mat-form-field>
  <mat-form-field>
    <mat-select i18n-placeholder="@@type" placeholder="Type" formControlName="typeControl" name="type">
      <mat-option *ngFor="let type of types" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button type="button" i18n="@@cancel" class="align-self-end" mat-button (click)="cancel()">CANCEL</button>
  <button type="submit" i18n="@@create" class="align-self-end" mat-button>CREATE</button>
</form>
