<mat-form-field>
  <input matInput i18n-placeholder="@@name" placeholder="Name" [(ngModel)]="name">
</mat-form-field>
<mat-form-field>
  <input matInput i18n-placeholder="@@address" placeholder="Address" [(ngModel)]="address">
</mat-form-field>
<mat-form-field>
  <input matInput i18n-placeholder="@@city" placeholder="City" [(ngModel)]="city">
</mat-form-field>
<mat-form-field>
  <mat-select i18n-placeholder="@@type" placeholder="Type" [(ngModel)]="selectedType" name="type">
    <mat-option *ngFor="let type of types" [value]="type">
      {{type}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button i18n="@@cancel" class="align-self-end" mat-button (click)="cancel()">CANCEL</button>
<button i18n="@@create" class="align-self-end" mat-button (click)="createPlace(name, address, city, selectedType)">CREATE</button>
