<div class="container d-flex flex-column">
  <mat-form-field>
    <input matInput i18n-placeholder="@@name" placeholder="Name" [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field>
    <mat-select i18n-placeholder="@@type" placeholder="Type" [(ngModel)]="selectedSport">
      <mat-option *ngFor="let sport of sports" [value]="sport">
        {{sport}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button i18n="@@create" class="align-self-end" mat-raised-button color="primary" (click)="createTeam(name, selectedSport)">CREATE</button>
</div>
