<div *ngIf="selectedTeam" class="container">
  <mat-paginator [length]="totalElements"
                 [pageSize]="pageSize"
                 [pageIndex]="currentPage"
                 [pageSizeOptions]="[10, 25, 50]"
                 (page)="loadEvents($event.pageIndex, $event.pageSize)">
  </mat-paginator>
  <div class="list-group">
    <div class="list-group-item flex-column align-items-start" *ngFor="let event of events"
         [ngSwitch]="isUserPresent(event)">
      <div class="d-flex justify-content-between">
        <h5>{{event.name}}</h5>
        <span>{{event.presentMembers.length}} participants</span>
      </div>
      <p>{{ event.fromDateTime | date:'fullDate' }}</p>
      <p>{{ event.fromDateTime | date:'shortTime' }}</p>

      <div class="row d-flex align-items-center" *ngIf="event.done != null">
        <div class="col-4 text-center"><img class="img-fluid" src="{{event.localTeamImgUrl}}"></div>
        <div class="col-4 text-center">
          <p *ngIf="event.done">{{event.localTeamScore}}</p>
          <p *ngIf="event.done">{{event.visitorTeamScore}}</p>
          <p i18n="@@vs" *ngIf="!event.done">VS</p>
        </div>
        <div class="col-4 text-center"><img class="img-fluid" src="{{event.visitorTeamImgUrl}}"></div>
      </div>
      <div class="row" *ngIf="event.done != null">
        <div class="col-4 text-center"><p>{{event.localTeamName}}</p></div>
        <div class="col-4 text-center"></div>
        <div class="col-4 text-center"><p>{{event.visitorTeamName}}</p></div>
      </div>
      <div class="d-flex flex-row justify-content-start mt-2">
        <button i18n="@@play" mat-raised-button color="primary" *ngSwitchCase="presence.Absent" (click)="participate(event._id, true)">PLAY</button>
        <button i18n="@@withdraw" mat-raised-button color="primary" *ngSwitchCase="presence.Present" (click)="participate(event._id, false)">WITHDRAW</button>
        <button i18n="@@play" mat-raised-button color="primary" *ngSwitchDefault (click)="participate(event._id, true)">PLAY</button>
        <button i18n="@@details" class="ml-2" mat-raised-button color="primary" (click)="showDetails(event._id)">DETAILS</button>
      </div>
    </div>
  </div>
  <div *ngIf="currentMember" class="fab-container">
    <speed-dial #dial="speedDial">
      <ng-container *ngFor="let option of options">
        <button *ngIf="!option.admin || currentMember.roles.includes('ADMIN')" (click)="showEventCreationPanel(option.url)"  mat-mini-fab speed-dial-option
                [speedDialOptionLabel]="option.label">
          <mat-icon [ngClass]="option.icon"></mat-icon>
        </button>
      </ng-container>
    </speed-dial>
    <button mat-fab [speedDialTriggerFor]="dial" #trigger="speedDialTrigger">
      <mat-icon *ngIf="!trigger.isOpen">add</mat-icon>
      <mat-icon *ngIf="trigger.isOpen">close</mat-icon>
    </button>
  </div>
</div>
