<div class="container" *ngIf = "event">

  <div class="mdc-card">
    <div class="card-primary">
      <h2 class="mdc-typography--headline6">{{event.name}}</h2>
      <h3 *ngIf="event.done != null" class="mdc-typography--subtitle2">
        {{event.localTeamName}} <span i18n="@@vs">VS</span> {{event.visitorTeamName}}
      </h3>
      {{ event.fromDateTime | date:'fullDate' }} {{ event.fromDateTime | date:'shortTime' }}
    </div>
    <div class="mdc-card__actions">
      <div class="mdc-card__action-buttons">
        <button class="mdc-button mdc-card__action mdc-card__action--button" i18n="@@present" color="accent"
                *ngIf="isPresentDisplayed()"
                (click)="onParticipate(true)">Present</button>
        <button class="mdc-button mdc-card__action mdc-card__action--button" i18n="@@absent" color="accent"
                *ngIf="isAbsentDisplayed()"
                (click)="onParticipate(false)">Absent</button>
      </div>
      <div class="mdc-card__action-icons">
        <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Messages"
                (click)="onShowMessages()">
          <mat-icon>chat</mat-icon>
        </button>
        <div *ngIf="isAdmin && !event.cancelled" class="btn-group">
          <button type="button" class="dropdown-toggle material-icons mdc-icon-button mdc-card__action mdc-card__action--icon"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="More options">
            more_vert
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button i18n="@@postpone" class="dropdown-item" (click)="onShowSettings()">Postpone</button>
            <div class="dropdown-divider"></div>
            <button i18n="@@cancel" class="dropdown-item" (click)="onCancel()">Cancel</button>
            <div class="dropdown-divider"></div>
            <button i18n="@@remind" class="dropdown-item" (click)="onRemind()">Send a reminder</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mdc-list-group">
    <h3 i18n class="mdc-list-group__subheader">Presents</h3>
    <ul class="mdc-list">
      <li *ngFor="let presentMember of event.presentMembers" class="mdc-list-item">
        <h4>{{presentMember.firstName}} {{presentMember.lastName}}</h4>
        <p> {{presentMember.licenseNumber }}</p>
      </li>
    </ul>
    <hr class="mdc-list-divider">
    <h3 i18n class="mdc-list-group__subheader">Waiting</h3>
    <ul class="mdc-list">
      <li *ngFor="let waitingMember of event.waitingMembers" class="mdc-list-item">
        <h4>{{waitingMember.firstName}} {{waitingMember.lastName}}</h4>
        <p> {{waitingMember.licenseNumber}} </p>
      </li>
    </ul>
    <hr class="mdc-list-divider">
    <h3 i18n class="mdc-list-group__subheader">Absents</h3>
    <ul class="mdc-list">
      <li *ngFor="let absentMember of event.absentMembers" class="mdc-list-item">
        <h4 mat-line>{{absentMember.firstName}} {{absentMember.lastName}}</h4>
      </li>
    </ul>
  </div>
</div>

