<form class="container" [formGroup]="confirmationForm" (ngSubmit)="confirmAccount()">
  <div style="text-align:center">
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-form-field>
        <input matInput [type]="hideNewPwd ? 'password' : 'text'"
               i18n-placeholder="@@new-password" placeholder="Enter new password"
               formControlName="newPwdControl" required>
        <mat-icon matSuffix (click)="hideNewPwd = !hideNewPwd">{{hideNewPwd ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-form-field>
        <input matInput [type]="hideConfirmNewPwd ? 'password' : 'text'"
               i18n-placeholder="@@confirm-new-password" placeholder="Confirm new password"
               formControlName="confirmNewPwdControl" name="password" required>
        <mat-icon matSuffix (click)="hideConfirmNewPwd = !hideConfirmNewPwd">{{hideConfirmNewPwd ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <button i18n="@@validate" [disabled]="!confirmationForm.valid" mat-raised-button color="primary">Validate</button>
    </div>
  </div>
</form>
