#chat-container {
  height: calc(100% - 64px); // 64px is max size of the top app bar

  #messages-container {
    height: calc(100% - 70px); // 65.5px is the size of the message-form
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-word;
  }

  #message-form {
    border-top-style: solid;
    .full-width {
      width: 100%;
    }
  }
}


