<div id="chat-container" class="container">
  <div id="messages-container" #scrollme>
    <ul>
      <li *ngFor="let message of messages">
        <div class="row mb-4" [ngClass]="(username$ | async) === message.authorUserName ? 'justify-content-end' : ''">
          <div class="col-8">
            <div class="row" [ngClass]="(username$ | async) === message.authorUserName ? 'justify-content-end mr-2' : ''">
              <strong *ngIf="(username$ | async) !== message.authorUserName" class="mr-2">{{message.authorFirstName}} {{message.authorLastName}}</strong>
              <small>{{message.creationDate | date:'short' }}</small>
            </div>
            <div class="row" [ngClass]="(username$ | async) === message.authorUserName ? 'justify-content-end mr-2' : ''">
              {{message.body}}
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div id="message-form">
    <mat-form-field class="full-width">
      <textarea matInput type="text" placeholder="Enter your message" [(ngModel)]="userMessage"></textarea>
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
