<div class="container" style="margin-top: 1.5em">
  <mat-form-field>
    <mat-select placeholder="Select your team" [(value)]="selectedTeam" (selectionChange)="changeTeam()">
      <mat-option *ngFor="let team of teams" [value]="team">{{team.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="selectedTeam">

    <mat-list>
      <mat-list-item *ngFor="let event of events"
                     [ngSwitch]="isUserPresent(event)">
        <div mat-line>
          <div class="row">
            <div class="col-sm-10">
              {{event.name}}
            </div>
            <div class="col-sm-2">
              {{event.presentMembers.length}} <mat-icon matSuffix>mood</mat-icon>
            </div>
          </div>
        </div>
        <p mat-line> {{ event.fromDate | date:'fullDate':'':'fr' }} </p>
        <div mat-line style="margin-top: 3em" id="match-details" *ngIf="event.done != null">
          <div class="row">
            <div class="col-sm-4" align="right">
              {{event.localTeamName}}
            </div>
            <div class="col-sm-1">
              <img class="img-fluid" src="{{event.localTeamImgUrl}}">
            </div>
            <div class="col-sm-1" >
              <p *ngIf="event.done">{{event.localTeamScore}}</p>
            </div>
            <div class="col-sm-1" >
              <p *ngIf="event.done">{{event.visitorTeamScore}}</p>
            </div>
            <div class="col-sm-1">
              <img class="img-fluid" src="{{event.visitorTeamImgUrl}}">
            </div>
            <div class="col-sm-4" align="left">
              {{event.visitorTeamName}}
            </div>

          </div>
        </div>
        <div mat-line align="right">
          <button mat-raised-button button *ngSwitchCase="presence.Absent" (click)="participate(event._id, true)">PLAY</button>
          <button mat-raised-button *ngSwitchCase="presence.Present" (click)="participate(event._id, false)">WITHDRAW</button>
          <button mat-raised-button *ngSwitchDefault (click)="participate(event._id, true)">PLAY</button>
          <button mat-raised-button>DETAILS</button>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
