/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* class repeated for increased specificity */
.mat-raised-button.mat-raised-button {
    background-color: #0D47A1;
    color: white;
    font-weight: bold;
}

ul { list-style-type: none; }